@import "partials/sass_import";
@import "partials/scss_import";
@import "globbed/**/*";
@import "subfolder/plain";
@import "subfolder/second_level";

.main {
  color: yellow;
  @include background-from-partial(red);
}

.rails {
  asset-path: asset-path("rails.png", image);
  asset-url: asset-url("rails.png", image);
  image-url: image-url("rails.png");
}