@import "partials/sass_import";
@import "partials/scss_import";
@import "globbed/**/*";
@import "subfolder/plain";
@import "subfolder/second_level";
@import "partials/without_css_ext";

.main {
  color: yellow;
  @include background-from-partial(red);
}

.rails {
  asset-path: asset-path("rails.png", image);
  asset-url: asset-url("rails.png", image);
  image-url: image-url("rails.png");
  asset-data-url: asset-data-url("1x1.png");
}

@include without-css-ext;
